<footer id="wb-info">
	<h2 class="wb-inv">About this site</h2>
	<div class="gc-main-footer">
		<div class="container pt-4">
				<h3 class="h2 mt-3 text-white">Office of the Auditor General of Canada</h3>
			<nav class="my-4 pt-0">
				<div class="row">
					<div class="col-md-3 col-xs-12">
						<h6 class="text-white mb-1">Mail</h6>
						<address>240 Sparks Street<br>
						Ottawa <abbr title="Ontario">ON</abbr>&nbsp;&nbsp;K1A&nbsp;0G6</address>
						<h6 class="text-white mb-1">Email</h6>
						<p><a href="mailto:communications@oag-bvg.gc.ca">communications@oag-bvg.gc.ca</a></p>
						<h6 class="text-white mb-1">Telephone</h6>
						<p><a href="tel:1-888-761-5953">1‑888‑761‑5953</a></p>
						<h6 class="text-white mb-1"><abbr title="Telecommunications device service for the hearing impaired">TTY</abbr> Service</h6>
						<p><a href="tel:613-954-8042">613‑954‑8042</a></p>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<h6 class="text-white mb-2">General</h6>
							<ul class="list-unstyled">
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general.html">Home</a></li>
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/about-us.html">About us</a></li>
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/our-work.html">Our work</a></li>
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/media-room.html">Media room</a></li>
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/careers.html">Careers</a></li>
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/contact-us.html">Contact&nbsp;us</a></li>
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/environmental-petitions.html">Environmental petitions</a></li>
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/transparency.html">Transparency</a></li>
							</ul>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-12">
						<h6 class="text-white mb-2">Publishings</h6>
							<ul class="list-unstyled">
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/our-work/audit-reports.html">Publications</a></li>
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/transparency.html">Corporate reports</a></li>
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/our-work.html#upcoming-reports">Upcoming reports</a></li>
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/our-work/update-on-past-audits.html">Update on past audits</a></li>
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/our-work/other-resources.html">Other resources</a></li>
							</ul>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-12">
						<h6 class="text-white mb-2">Other</h6>
							<ul class="list-unstyled">
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/careers/students-and-recent-graduates.html">Students and recent graduates</a></li>
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/sustainable-development.html">Sustainable development</a></li>
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/transparency/accessibility-plan.html">Accessibility</a></li>
								<li class="mb-2"><a href="/content/canadasite/en/auditor-general/disclosures-of-wrongdoing.html">Disclosures of wrongdoing</a></li>
							</ul>
					</div>
					<div class="col-md-3 col-xs-12">
						<h6 class="h4 mb-2 mt-3 text-white">Stay connected</h6>
						<p>Follow the <abbr title="Office of the Auditor General of Canada">OAG</abbr> on social media for information about our work, reports and upcoming publications.</p>
						<section class="gc-followus">
							<h6 class="text-white mt-3">On social media</h6>
							<ul class="list-inline mt-2">
								<li><a href="https://www.facebook.com/OAGCanada/" rel="external" class="facebook"><span class="wb-inv">Facebook: </span>OAGCanada</a></li>
								<li><a href="https://x.com/OAG_BVG/" rel="external" class="x-social"><span class="wb-inv">X: </span>@OAG_BVG</a></li>
								<li><a href="https://www.youtube.com/channel/UC7UiIATFGs8x6cvNJiIRHVw" rel="external" class="youtube"><span class="wb-inv">YouTube: </span>Office of the Auditor General of Canada</a></li>
								<li><a href="https://www.instagram.com/oag_bvg/" rel="external" class="instagram"><span class="wb-inv">Instagram: </span>oag_bvg</a></li>
								<li><a href="https://www.linkedin.com/company/office-of-the-auditor-general-of-canada" rel="external" class="linkedin"><span class="wb-inv">LinkedIn: </span>Office of the Auditor General of Canada</a></li>
							</ul>
						</section>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<div class="gc-sub-footer py-3">
		<div class="container d-flex justify-content-between align-items-center py-3">
			<div class="wtrmrk">
				<img class="img-responsive" src="/content/dam/oag-bvg/core-pages-assets/homepage-assets/icons/oag-logo-blk-en.svg" alt="Symbol of the Office of the Auditor General of Canada"/>
			</div>
			<nav>
				<h4 class="wb-inv">Office of the Auditor General of Canada</h4>
				<ul class="list-inline mb-0 pull-right">
					<li class="list-inline-item"><a href="/content/canadasite/en/auditor-general/terms-and-conditions.html">Terms and conditions</a></li>
					<li class="list-inline-item"><a href="/content/canadasite/en/auditor-general/transparency/privacy-statement.html">Privacy</a></li>
				</ul>
			</nav>
		</div>
	</div>
</footer>
