<footer id="wb-info">
	<h2 class="wb-inv">À propos de ce site</h2>
	<div class="gc-main-footer">
		<div class="container pt-4">
				<h3 class="h2 mt-3 text-white">Bureau du vérificateur général du Canada</h3>
			<nav class="my-4 pt-0">
				<div class="row">
					<div class="col-md-3 col-xs-12">
						<h6 class="text-white mb-1">Courrier</h6>
						<address>240, rue&nbsp;Sparks<br>
						Ottawa <abbr title="Ontario">ON</abbr>&nbsp;&nbsp;K1A&nbsp;0G6</address>
						<h6 class="text-white mb-1">Courriel</h6>
						<p><a href="mailto:communications@oag-bvg.gc.ca">communications@oag-bvg.gc.ca</a></p>
						<h6 class="text-white mb-1">Téléphone</h6>
						<p><a href="tel:1-888-761-5953">1‑888‑761‑5953</a></p>
						<h6 class="text-white mb-1">Service d’<abbr title="Appareil de télécommunications pour les personnes malentendantes">ATS</abbr></h6>
						<p><a href="tel:613-954-8042">613‑954‑8042</a></p>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<h6 class="text-white mb-2">Général</h6>
							<ul class="list-unstyled">
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general.html">Accueil</a></li>
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/a-propos-de-nous.html">À propos de nous</a></li>
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/notre-travail.html">Notre travail</a></li>
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/salle-medias.html">Salle des médias</a></li>
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/carrieres.html">Carrières</a></li>
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/contactez-nous.html">Nous joindre</a></li>
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/petitions-environnementales.html">Pétitions environnementales</a></li>
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/transparence.html">Transparence</a></li>
							</ul>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-12">
						<h6 class="text-white mb-2">Éditions</h6>
							<ul class="list-unstyled">
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/notre-travail/rapports-daudit.html">Publications</a></li>
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/transparence.html">Rapports organisationnels</a></li>
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/notre-travail.html#upcoming-reports">Rapports à venir</a></li>
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/notre-travail/suivi-concernant-des-audits-anterieurs.html">Suivi concernant des audits antérieurs</a></li>
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/notre-travail/autres-ressources.html">Autres ressources</a></li>
							</ul>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-12">
						<h6 class="text-white mb-2">Autres</h6>
							<ul class="list-unstyled">
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/carrieres/etudiants-et-jeunes-diplomes.html">Étudiants et nouveaux diplômés</a></li>
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/developpement-durable.html">Développement durable</a></li>
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/transparence/plan-sur-laccessibilite.html">Accessibilité</a></li>
								<li class="mb-2"><a href="/content/canadasite/fr/verificateur-general/divulgation-d-actes-reprehensibles.html">Divulgation d’actes répréhensibles</a></li>
							</ul>
					</div>
					<div class="col-md-3 col-xs-12">
						<h6 class="h4 mb-2 mt-3 text-white">Restez branchés</h6>
						<p>Suivez le <abbr title="Bureau du vérificateur général du Canada">BVG</abbr> dans les médias sociaux pour obtenir de l’information sur notre travail, nos rapports et nos publications prévues.</p>
						<section class="gc-followus">
							<h6 class="text-white mt-3">Sur les réseaux sociaux</h6>
							<ul class="list-inline mt-2">
								<li><a href="https://www.facebook.com/BVGCanada/" rel="external" class="facebook"><span class="wb-inv">Facebook: </span>BVGCanada</a></li>
								<li><a href="https://x.com/BVG_OAG" rel="external" class="x-social"><span class="wb-inv">X: </span>@BVG_OAG</a></li>
								<li><a href="https://www.youtube.com/channel/UC9R8P8560HzUGWlwH5uCtAA" rel="external" class="youtube"><span class="wb-inv">YouTube: </span>Bureau du vérificateur général du Canada @bvgcanada</a></li>
								<li><a href="https://www.instagram.com/bvg_oag/" rel="external" class="instagram"><span class="wb-inv">Instagram: </span>bvg_oag</a></li>
								<li><a href="https://www.linkedin.com/company/office-of-the-auditor-general-of-canada" rel="external" class="linkedin"><span class="wb-inv">LinkedIn: </span>Office of the Auditor General of Canada</a></li>
							</ul>
						</section>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<div class="gc-sub-footer py-3">
		<div class="container d-flex justify-content-between align-items-center py-3">
			<div class="wtrmrk">
				<img class="img-responsive" src="/content/dam/oag-bvg/core-pages-assets/homepage-assets/icons/oag-logo-blk-fr.svg" alt="Symbole du Bureau du vérificateur général du Canada"/>
			</div>
			<nav>
				<h4 class="wb-inv">Bureau du vérificateur général du Canada</h4>
				<ul class="list-inline mb-0 pull-right">
					<li class="list-inline-item"><a href="/content/canadasite/fr/verificateur-general/avis.html">Avis</a></li>
					<li class="list-inline-item"><a href="/content/canadasite/fr/verificateur-general/transparence/enonce-de-protection-des-renseignements-personnels.html">Confidentialité</a></li>
				</ul>
			</nav>
		</div>
	</div>
</footer>
